/* Affects the entire page */
* {
    font-family: arial, sans-serif;
    margin: auto;
}

/* All the ids that I used */
#search {
    margin: auto;
    display: table;
    display: flex;
    justify-content: center;
    align-items: center;
}

#button {
    margin: auto;
    display: table;
}

/* Styling for different elements */
input {
    padding: 5px 8px 0 16px;
    height: 45px;
    width: 480px;
    border-radius: 25px;
    border: 1px solid #dfe1e5;
    box-shadow: none;
}

input:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0);
}

img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 200;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

a:hover {
    text-decoration: underline;
}

footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: #f2f2f2; 
    color: #5f6368;
    border-top: solid 1px #e4e4e4;
}

footer ul {
    line-height: 40px;
    padding-top 40px;
    font-size: 14px;
}

footer li {
    padding: 0 10px;
}

button {
    margin: 11px 4px;
    padding: 5px 16px;
    font-size: 14px;
    color: #5F6368;
    line-height: 27px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header a {
    color: black;
}

footer a {
    color: #5f6368;
}

li {
    display: inline;
}

a {
    text-decoration: none;
}

/* All the classes that I used */
.left {
    float: left;
    padding-left: 30px;
}

.right {
    float: right;
    padding-right: 30px;
}

.toplist {
    padding: 10px;
    float: right;
    font-size: 13px;
}

.image {
    height: 450px; 
    width: 320px; 
    position: relative;
}